@use '../reference' as reference;

// TODO: segment these to separate stylesheets
.containerColumns {
  border-radius: reference.$corners-md;
  background-color: reference.$dark-grey;
  max-height: 300px;
  overflow-y: auto;

  @media (max-width: 768px) {
    border-radius: none;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

// TODO: segment these to separate stylesheets
.containerRows {
  border-radius: reference.$corners-md;
  background-color: reference.$dark-grey;
  max-height: 300px;
  overflow-y: auto;

  @media (max-width: 768px) {
    border-radius: none;
    overflow-x: scroll;
  }
}

.table {
  padding: 15px 75px 15px 75px;

  @media (max-width: 768px) {
    padding: 7.5px 20px 7.5px 20px;
  }
}
