@use '../reference' as reference;

.tile {
  max-width: 1728px;
  margin: 0 auto 0 auto;

  @media (min-width: 768px) {
    padding: reference.$spacing-xl 0 reference.$spacing-xl 0;
  }

  @media (max-width: 768px) {
    padding: reference.$spacing-md reference.$spacing-sm reference.$spacing-md reference.$spacing-sm;
  }

  &Clear {
    background-color: reference.$transparent;
  }

  &Solid {
    background-color: reference.$black-special;

    @media (min-width: 768px) {
      border-radius: reference.$corners-xl;
    }

    @media (max-width: 768px) {
      border-radius: none;
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto 0 auto;

  @media (min-width: 768px) {
    border-radius: reference.$corners-xl;
  }

  @media (max-width: 768px) {
    border-radius: none;
  }
}

.innerContainer {
  z-index: 1000;
  position: absolute;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (max-width: 768px) {
    padding: 0 reference.$spacing-sm 0 reference.$spacing-sm;
  }
}

.stacked {
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden;
}
